@import "tailwindcss";

:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext-1: #bac2de;
  --subtext-0: #a6adc8;
  --overlay-2: #9399b2;
  --overlay-1: #7f849c;
  --overlay-0: #6c7086;
  --surface-2: #585b70;
  --surface-1: #45475a;
  --surface-0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

@theme inline {
  --color-ctp-rosewater: var(--rosewater);
  --color-ctp-flamingo: var(--flamingo);
  --color-ctp-pink: var(--pink);
  --color-ctp-mauve: var(--mauve);
  --color-ctp-red: var(--red);
  --color-ctp-maroon: var(--maroon);
  --color-ctp-peach: var(--peach);
  --color-ctp-yellow: var(--yellow);
  --color-ctp-green: var(--green);
  --color-ctp-teal: var(--teal);
  --color-ctp-sky: var(--sky);
  --color-ctp-sapphire: var(--sapphire);
  --color-ctp-blue: var(--blue);
  --color-ctp-lavender: var(--lavender);
  --color-ctp-text: var(--text);
  --color-ctp-subtext-1: var(--subtext-1);
  --color-ctp-subtext-0: var(--subtext-0);
  --color-ctp-overlay-2: var(--overlay-2);
  --color-ctp-overlay-1: var(--overlay-1);
  --color-ctp-overlay-0: var(--overlay-0);
  --color-ctp-surface-2: var(--surface-2);
  --color-ctp-surface-1: var(--surface-1);
  --color-ctp-surface-0: var(--surface-0);
  --color-ctp-base: var(--base);
  --color-ctp-mantle: var(--mantle);
  --color-ctp-crust: var(--crust);
}
